OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5-mini
GITHUB_TOKEN=tu_wklej_token_github
PORT=3000
